:root {
  --text-primary: #000;
  --bgPrimary: #fff;
  --bgSecondary: #f9f9f9;
  --pink: #0071bd;
  --light-blue: #e6f7ff;
  --border: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:hover {
  color: var(--pink) !important;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.navbar {
  -webkit-box-flex: 0.2;
  -ms-flex: 0.2;
  flex: 0.2;
  background-color: #001529;
}

.main {
  -webkit-box-flex: 0.8;
  -ms-flex: 0.8;
  flex: 0.8;
  width: 100%;
}

.routes {
  padding: 20px;
}

.nav-container {
  position: fixed;
  left: 0;
  margin: 10px;
  height: 100vh;
  margin: 0px;
  background-color: #001529;
}

.logo-container {
  background-color: #001529;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.logo {
  margin: 0 0 0 15px;
}

.logo a {
  color: white;
}
